<% # the way each document will be viewed in the sidebar list -%>
<div class='panel panel-default'>
  <div class='panel panel-heading'>
    <h3>
      <%= link_to_document document %>
    </h3>
  </div>
  <div class="panel panel-body">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <img class="thumbnail" src="<%= document.photo_path %>">
        </div>
        <div class="col-md-6">
          <% index_fields(document).each do |field_name, field| -%>
            <% if should_render_index_field? document, field %>
              <dt class="blacklight-<%= field_name.parameterize %>"><%= render_index_field_label document, field: field_name %></dt>
              <dd class="blacklight-<%= field_name.parameterize %>"><%= render_index_field_value document, field: field_name %></dd>
            <% end -%>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
</div>

