<% # the way each document will be viewed in the sidebar list -%>
<div class='panel panel-default'>
  <div class='panel panel-heading'>
    <h3>
      <%= link_to_document document %>
    </h3>
  </div>
  <div class="panel panel-body">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <img class="thumbnail" src="<%= document.photo_path %>">
        </div>
        <div class="col-md-6">
          <% #add anything to display in the sidebar here %>
          <% if !document[:desc_metadata__creator_ssim].blank? %>
            <p>Creator: <%= Array.wrap(document[:desc_metadata__creator_ssim]).first %></p>
          <% elsif !document[:desc_metadata__temporal_ssim].blank?  %>
            <p>Date: <%= Array.wrap(document[:desc_metadata__temporal_ssm]).first %></p>
          <% elsif !document[:desc_metadata__material_ssim].blank?  %>
            <p>Material: <%= Array.wrap(document[:desc_metadata__material_ssm]).first %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

