<%= simple_form_for [:admin, setting] do |f| %>
  <div class="setting_number_<%=setting.id%>">
    <%= f.input :value, as: setting.type, :input_html => { :id => "setting_value_#{setting.id}", :class => "tinymce", :rows => 15, :cols => 120} %>
    <%= tinymce %>
    <br>
    <%= f.button :submit %>
  </div>
<% end %>
